.react-flow__pane {
  z-index: 1;
  cursor: grab;
}

.react-flow__pane.dragging {
  cursor: grabbing;
}

.react-flow__viewport {
  transform-origin: 0 0;
}

.react-flow__selection {
  z-index: 6;
}

.react-flow__edge-path {
  fill: none;
}

.react-flow__handle {
  position: absolute;
  pointer-events: none;
}

.react-flow__handle.connectionindicator {
  pointer-events: all;
  cursor: crosshair;
}

.react-flow__handle-top {
  top: -4px;
  left: 50%;
  transform: translate(-50%, 0);
}

.react-flow__handle-bottom {
  bottom: -4px;
  left: 50%;
  transform: translate(-50%, 0);
}

.react-flow__handle-left {
  left: -4px;
  top: 50%;
  transform: translate(0, -50%);
}

.react-flow__handle-right {
  right: -4px;
  top: 50%;
  transform: translate(0, -50%);
}

