*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgb(229 231 235);
    color: rgb(229 231 235);
}

.bg-secondary {
    background-color: rgba(108, 117, 125, .1) !important;
}

.position-fixed {
    position: fixed;
}

.d-flex {
    display: flex !important;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.p-3 {
    padding: 1rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.me-3 {
    margin-right: 1rem !important;
}

.h-100 {
    height: 100vh;
}

.w-100 {
    width: 100vw;
}

.rounded-4 {
    border-radius: 1rem !important;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33 37 41);
    background-color: rgb(255 255 255);
    background-clip: padding-box;
    border: 1px solid rgb(206 212 218);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: rgb(33 37 41);
    --bs-btn-bg: rgb(0 0 0 / 0%);
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: rgb(0 0 0 / 0%);
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: rgb(0 0 0 / 0%);
    --bs-btn-box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    --bs-btn-color: rgb(255 255 255);
    --bs-btn-bg: #762acb;
    --bs-btn-border-color: #762acb;
    --bs-btn-hover-color: rgb(255 255 255);
    --bs-btn-hover-bg: #762acb;
    --bs-btn-hover-border-color: #762acb;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: rgb(255 255 255);
    --bs-btn-active-bg: #762acb;
    --bs-btn-active-border-color: #762acb;
    --bs-btn-active-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    --bs-btn-disabled-color: rgb(255 255 255);
    --bs-btn-disabled-bg: #762acb;
    --bs-btn-disabled-border-color: #762acb;
}

.btn-secundary {
    --bs-btn-color: rgb(255 255 255);
    --bs-btn-bg: #9E7AC8;
    --bs-btn-border-color: #9E7AC8;
    --bs-btn-hover-color: rgb(255 255 255);
    --bs-btn-hover-bg: #9E7AC8;
    --bs-btn-hover-border-color: #9E7AC8;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: rgb(255 255 255);
    --bs-btn-active-bg: #9E7AC8;
    --bs-btn-active-border-color: #9E7AC8;
    --bs-btn-active-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    --bs-btn-disabled-color: rgb(255 255 255);
    --bs-btn-disabled-bg: #9E7AC8;
    --bs-btn-disabled-border-color: #9E7AC8;
}

.btn-sm {
    padding:.25rem .5rem;
    font-size:.3rem;
    line-height:1.5;
    border-radius:.2rem
}

footer {
    padding: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    border-radius: 1rem;
}

main {
    height: 100vh;
    position: absolute;
}

.position-fixed {
    position: fixed;
}

#snippet pre code {
    display: block;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}

pre {
    white-space: pre-wrap;
}

.hljs{
    background: #1e1e1e !important;
    color: #cccccc !important;
}

/* Animation */
/*

*/

  
  /* Theme */
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#e9e9f4;background:#282936}.hljs ::selection,.hljs::selection{background-color:#4d4f68;color:#e9e9f4}.hljs-comment{color:#626483}.hljs-tag{color:#62d6e8}.hljs-operator,.hljs-punctuation,.hljs-subst{color:#e9e9f4}.hljs-operator{opacity:.7}.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable{color:#ea51b2}.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_{color:#b45bcf}.hljs-class .hljs-title,.hljs-title,.hljs-title.class_{color:#00f769}.hljs-strong{font-weight:700;color:#00f769}.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__{color:#ebff87}.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp{color:#a1efe4}.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property{color:#62d6e8}.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type{color:#b45bcf}.hljs-emphasis{color:#b45bcf;font-style:italic}.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#00f769}.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:700}

